* {
    margin: 0;
    padding: 0;
}

a:hover{
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}
.pages {
    text-align: center;
    margin-top: 10%;
  }

.navbar{
  position: sticky;
  width: 100%;
  height: 90px;
  display: flex;
  background-color: rgb(134, 74, 96);
  position: sticky;
  top: 0;

}

.nav-container {
  display: flex;
  
  width: 100%;
  height: 80px;
 

}

.main-container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.3);
}

.logo {
  color: #f5b921;
  margin-left: 40px;
  margin-right: 480px;
  font-size: 4rem;
  cursor: pointer;
  text-decoration: none;  
}

.logo h2 {
  height: 5rem;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
}

.logo h2 span {
  font-size: 4rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.fa-code {
  margin-left: 1rem;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
}


  
  
.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item.active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}

.nav-icon {
  display: none;
}


  /* responsive css style  */
  @media screen and (max-width: 960px) {
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: rgb(134, 74, 96);
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffdd40;
    }
  }
 /*
  @media (max-width: 998px) {
    .navbar {
      height: 7rem;
      grid-template-columns: 2rem 3fr 1fr 2rem;
    }
  
    .menu-link {
      display: none;
    }
  
    .logo{
      height: 7rem;
    }

  
    .mobile-menu-link {
      background-color: white;
      height: 20rem;
      display: grid;
      grid-column: 2/7;
      position: relative;
      z-index: 99;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
      }
  
    .mobile-menu-link ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
    }
  
    .mobile-menu-link ul li:first-child {
      transition-delay: 0.2s;
    }

    .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 798px) {
    .navbar {
      height: 6rem;
      grid-template-columns: 1rem 4fr 1fr 1rem;
    }
  
    .logo{
      height: 6rem;
    }

   .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 520px) {
    .navbar {
      height: 6rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
  
    .logo{
      height: 6rem;
    }
  
    .logo h2 {
      font-size: 2rem;
    }
    .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }

  }
  */
.home-content{
    margin: 150px 110px;
}


.home-header h1{
    margin-top: 30px;
}
.home-header div{
    margin-top: 40px;
    font-size: 40px;
}

.footer {
    align-items: center;
    background-color: rgb(134, 74, 96);
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 40px;
    font-size: 18px !important;
  }

.social{
    margin-right: 10px;
}


.Container{
    text-align: center;
}

.title{
    margin-top: 120px;
    margin-bottom: 60px;

}
.btns{
    margin-bottom: 30px;
}

.card-img-top{
    height: 300px;
    width: 240px;
}
/*


.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-brand{
    font-size: 25px;
    justify-content: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    display: flex;
}*/
